#hero-section {
  padding: 1rem 1rem 1rem 1rem;
}

#hero-section .img-container {
  display: flex;
  justify-content: center;
}

#hero-section .img-container img {
  max-inline-size: 100%;
  block-size: auto;
}

#hero-section .text-content {
  max-inline-size: 66ch;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 2rem;
}

#hero-section .text-content p {
  color: #303030;
}
